.profileWrapper {
    width: 90%;
    height: 88vh;
    margin: auto;
    padding-top: 100px;
}

.profileContainer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    gap: 20px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    box-sizing: border-box;
}

.profileSettings {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    padding: 0px 20px;
    width: 25%;
}

.profileSettings>div {
    border: 1px solid grey;
    margin: 20px auto;
    padding: 0px 10px;
}

.profileSettings>div:last-child {
    border: none;
    padding: 0px;
}

.profileSettings>div>p {
    font-size: 22px;
    font-weight: bold;
}

.profileSettings>div>button {
    width: 100%;
    border: none;
    padding: 20px 20px;
    background-color: #523825;
    color: #DDE6ED;
    font-size: 22px;
    font-weight: bold;
}

.profileSettings>div>button:hover,
.logoutButtonConatiner>button:hover {
    background-color: #382208;
    cursor: pointer;
}

.profileContentHolder {
    width: 70%;
    box-shadow: rgba(28, 29, 31, 0.3) 0px 1px 2px 0px, rgba(28, 29, 31, 0.15) 0px 2px 6px 2px;
    padding: 10px;
    height: 82vh;
    overflow: auto;
}

.showProfileSettings {
    width: 100%;
    margin: auto;
    position: relative;
}

.showProfileSettings>img:nth-child(1) {
    width: 100%;
    height: 300px;
    margin: auto;
}

.showProfileSettings>img:nth-child(2) {
    width: 280px;
    height: 280px;
    border-radius: 50%;
    margin: auto;
    position: absolute;
    right: 5%;
    top: 40%;
    object-fit: cover;
    object-position: center;
}

.showProfile {
    display: block;
    height: 100%;
}

.hideProfile {
    display: none;
}

.showRequests {
    display: block;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    padding: 10px;
}

.hideRequests {
    display: none;
}

.showAcceptedRequests {
    display: block;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    padding: 10px;
}

.hideAcceptedRequests {
    display: none;
}

.showDeclinedRequests {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    padding: 10px;
}

.hideDeclinedRequests {
    display: none;
}

.showReturnededRequests {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    padding: 10px;
}

.hideReturnedRequests {
    display: none;
}

.profileDetailsContainer {
    width: 95%;
    margin: 20px auto;
    padding: 10px;
}

.profileDetailsContainer>h2 {
    color: #27374D;
    margin: 1rem auto 4rem auto;
}

.profileDetailsContainer>div {
    margin: 30px 0px;
}

.userNameContainer,
.emailContainer,
.penaltyContainer {
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.emailContainer {
    gap: 45px;
}

.penaltyContainer {
    gap: 30px;
}

.userNameContainer>input,
.emailContainer>input,
.penaltyContainer>input {
    background: none;
    padding: 8px;
    width: 300px;
    font-size: 18px;
    height: 25px;
    border-radius: 5px;
    outline: none;
    border: 1px solid black;
}

.logoutButtonConatiner {
    width: 45%;
    text-align: center;
}

.logoutButtonConatiner>button {
    width: 50%;
    padding: 10px 20px;
    border: none;
    background-color: #523825;
    color: #DDE6ED;
    font-size: 22px;
    font-weight: bold;
    border-radius: 10px;
}

@media (min-width: 769px) and (max-width: 1024px) {
    .profileContainer {
        flex-direction: row;
    }

    .profileSettings {
        width: 30%;
    }

    .profileContentHolder {
        width: 65%;
    }

    .showRequests,
    .showAcceptedRequests,
    .showDeclinedRequests,
    .showReturnededRequests {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .profileWrapper {
        width: 95%;
        padding-top: 80px;
    }

    .profileContainer {
        flex-direction: column;
        align-items: center;
    }

    .profileSettings {
        width: 100%;
        margin-bottom: 20px;
    }

    .profileContentHolder {
        width: 100%;
        height: auto;
    }


    .profileSettings>div>p {
        font-size: 17px;
        margin: 5px;
    }

    .profileSettings>div>button {
        font-size: 17px;
        padding: 10px 0px;
    }


    .showProfileSettings>img:nth-child(1) {
        width: 100%;
        height: 100px;
        margin: auto;
    }

    .showProfileSettings>img:nth-child(2) {
        width: 100px;
        height: 100px;
        right: 5%;
        top: 30%;
    }

    .showRequests,
    .showAcceptedRequests,
    .showDeclinedRequests,
    .showReturnededRequests {
        grid-template-columns: 1fr;
        padding: 10px;
    }

    .profileDetailsContainer>div {
        flex-direction: column;
        align-items: flex-start;
    }

    .userNameContainer>input,
    .emailContainer>input,
    .penaltyContainer>input {
        width: 100%;
        max-width: 300px;
    }

    .logoutButtonConatiner {
        width: 100%;
    }

    .logoutButtonConatiner>button {
        width: 100%;
    }

    .emailContainer{
        gap: 5px;
    }

    .userNameContainer>input,
    .emailContainer>input,
    .penaltyContainer>input {
        padding: 8px;
        width: 80%;
        font-size: 14px;
        height: 15px;
    }
    .profileDetailsContainer > h2 {
        font-size: 17px;
        margin: 0px auto 10px auto;
    }
}


@media (max-width: 480px) {
    .profileWrapper {
        width: 95%;
        padding-top: 80px;
    }

    .profileContainer {
        flex-direction: column;
        align-items: center;
    }

    .profileSettings {
        width: 100%;
        margin-bottom: 20px;
    }

    .profileContentHolder {
        width: 100%;
        height: auto;
    }


    .profileSettings>div>p {
        font-size: 17px;
        margin: 5px;
    }

    .profileSettings>div>button {
        font-size: 17px;
        padding: 10px 0px;
    }


    .showProfileSettings>img:nth-child(1) {
        width: 100%;
        height: 100px;
        margin: auto;
    }

    .showProfileSettings>img:nth-child(2) {
        width: 100px;
        height: 100px;
        right: 5%;
        top: 30%;
    }

    .showRequests,
    .showAcceptedRequests,
    .showDeclinedRequests,
    .showReturnededRequests {
        grid-template-columns: 1fr;
        padding: 10px;
    }

    .profileDetailsContainer>div {
        flex-direction: column;
        align-items: flex-start;
    }

    .userNameContainer>input,
    .emailContainer>input,
    .penaltyContainer>input {
        width: 100%;
        max-width: 300px;
    }

    .logoutButtonConatiner {
        width: 100%;
    }

    .logoutButtonConatiner>button {
        width: 100%;
    }

    .emailContainer{
        gap: 5px;
    }

    .userNameContainer>input,
    .emailContainer>input,
    .penaltyContainer>input {
        padding: 8px;
        width: 80%;
        font-size: 14px;
        height: 15px;
    }
    .profileDetailsContainer > h2 {
        font-size: 17px;
        margin: 0px auto 10px auto;
    }
}