
.createAdminWrapper{
    text-align: center;
    height: 100vh;
    place-content: center;
}
.createAdminContainer{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 35%;
    margin: auto;
    place-content: center;
    padding: 70px;
    border-radius: 20px;
}
.createAdminContainer>h2{
    font-size: 32px;
}
.createAdminForm{
    width: 70%;
    text-align: center;
    padding: 50px;
    margin: auto;
    margin-top: 30px;
}
.createAdminForm >input {
    border: none;
    border-bottom: 1px solid black;
    width: 100%;
    padding: 10px;
    font-size: 17px;
    outline: none;
    margin: 5px auto;
    background: none;
}
.createAdminForm>button{
    background-color: #5a3e29;
    color: #DDE6ED;
    border: none;
    width: 40%;
    padding: 15px;
    font-size: 20px;
    border-radius: 10px;
    outline: none;
    font-weight: bold;
    margin: 30px auto auto auto;
}
.createAdminForm>button:hover{
    background-color: #382208;
    cursor: pointer;
}


@media (max-width: 768px) {
    .createAdminContainer {
        width: 70%;
        padding: 30px;
    }

    .createAdminContainer>h2 {
        font-size: 28px;
    }

    .createAdminForm>input {
        font-size: 15px;
        padding: 8px;
    }

    .createAdminForm>button {
        font-size: 18px;
        padding: 10px 8px;
        margin: 40px auto auto auto;
    }

    .createAdminContainer>p {
        font-size: 16px;
    }

    .createAdminContainer>p>span>a {
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    .createAdminContainer {
        width: 70%;
        padding: 30px;
    }

    .createAdminContainer>h2 {
        font-size: 24px;
    }

    .createAdminForm>input {
        font-size: 12px;
        padding: 5px;
    }

    .createAdminForm>button {
        font-size: 16px;
        padding: 8px 6px;
        margin: 20px auto auto auto;
    }

    .createAdminContainer>p {
        font-size: 14px;
    }

    .createAdminContainer>p>span>a {
        font-size: 14px;
    }
}