
.createBookWrapper{
    text-align: center;
    height: 100vh;
    place-content: center;
}
.createBookContainer{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 30%;
    margin: auto;
    place-content: center;
    padding: 70px;
    border-radius: 20px;
    background: rgba(179, 154, 136, 0.5);
}
.createBookContainer>h2{
    font-size: 32px;
    color: #27374D;
}
.createBookForm{
    text-align: center;
    padding: 50px;
    margin: auto;
    margin-top: 30px;
}
.createBookForm >input {
    border: none;
    border-bottom: 1px solid black;
    width: 100%;
    padding: 10px;
    font-size: 17px;
    outline: none;
    margin: 5px auto;
    background: none;
}
.createBookForm>button{
    background-color: #523825;
    color: #DDE6ED;
    border: none;
    font-weight: bold;
    width: 50%;
    padding: 16px 12px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    outline: none;
    margin: 40px auto auto auto;
}
.createBookForm>button:hover{
    background-color: #382208;
    cursor: pointer;
}


@media (max-width: 768px) {
    .createBookContainer {
        width: 70%;
        padding: 30px;
    }

    .createBookContainer>h2 {
        font-size: 28px;
    }

    .createBookForm>input {
        font-size: 15px;
        padding: 8px;
    }

    .createBookForm>button {
        font-size: 18px;
        padding: 10px 8px;
        margin: 40px auto auto auto;
    }

    .createBookContainer>p {
        font-size: 16px;
    }

    .createBookContainer>p>span>a {
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    .createBookContainer {
        width: 70%;
        padding: 30px;
    }

    .createBookContainer>h2 {
        font-size: 24px;
    }

    .createBookForm>input {
        font-size: 12px;
        padding: 5px;
    }

    .createBookForm>button {
        font-size: 16px;
        padding: 8px 6px;
        margin: 20px auto auto auto;
    }

    .createBookContainer>p {
        font-size: 14px;
    }

    .createBookContainer>p>span>a {
        font-size: 14px;
    }
}