.adminWrapper{
    padding-top: 80px;
}
.adminContainer{
    width: 85%;
    margin: auto;
    text-align: center;
    margin-top: 20px;
}
.adminContainer>button {
    border: 5px solid #523825;
    background-color: white;
    width: 250px;
    padding: 15px;
    font-size: 19px;
    font-weight: 600;
    color: #5a3e29;
    border-radius: 15px;
    outline: none;
    cursor: pointer;
}
.adminCardWrapper{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-top: 30px;
}
.adminCard{
    padding: 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4), 0px 7px 13px -3px rgba(0, 0, 0, 0.3), inset 0px -3px 0px rgba(0, 0, 0, 0.2);
}
.adminCard>img{
    width: 250px;
    height: 250px;
}
.adminCard>div{
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.adminCard>div>button{
    background-color: #523825;
    color: #DDE6ED;
    border: none;
    width: 40%;
    padding: 12px;
    font-size: 17px;
    border-radius: 10px;
    outline: none;
    font-weight: bold;
    margin: 30px auto auto auto;
}
.adminCard>div>button:hover{
    background-color: #382208;
    cursor: pointer;
}