.RequestsWrapper {
    padding-top: 100px;
    width: 85%;
    margin: auto;
}

.requestCard {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 20px;
}
.requestCardTime{
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.requestCardTime>h3{
    width: 150px;
    font-size: 25px;
    font-weight: 600;
    margin: 0px;
    padding: 5px;
    text-align: center;
    border-radius: 50px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}.requestCardTime>p{
    width: 150px;
    font-size: 20px;
    font-weight: 600;
    margin: 0px;
    padding: 5px;
    text-align: center;
    border-radius: 50px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.requestCardContainer{
    text-align: center;
    display: flex;
    gap: 20px;
}
.requestCardDataHolder{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.requestCardBooksDetails{
    width: 90%;
    margin: 10px auto;
    padding: 10px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.requestCardUserDetails {
    width: 90%;
    margin: 10px auto;
    padding: 10px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}


.requestCardButtonsHolder {
    width: 30%;
    margin: 20px auto;
    place-content: center;
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
}

.requestCardButtonsHolder>button {
    width: 300px;
    padding: 10px 0px;
    font-size: 17px;
    border: none;
    outline: none;
    color: #000;
    font-weight: 600;
    border-radius: 10px;
    margin: 5px;
}

.requestCardButtonsHolder>button:nth-child(1) {
    background-color: rgb(84, 223, 84);
}

.requestCardButtonsHolder>button:nth-child(2) {
    background-color: rgb(255, 91, 91);
}

.requestCardButtonsHolder>button:nth-child(1):hover {
    background-color: rgb(7, 218, 7);
}

.requestCardButtonsHolder>button:nth-child(2):hover {
    background-color: rgb(255, 21, 21);
}

.requestCardButtonsHolder>button:disabled {
    background-color: gray;
    cursor: not-allowed;
}
.requestCardButtonsHolder>button:disabled:hover {
    background-color: gray;
}

.requestTabHeaderWrapper{
    width: 95%;
    margin: auto;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    border-radius: 20px;
    padding: 5px;
}

.requestTabHeaderWrapper>div>p{
    font-size: 18px;
    font-weight: 600;
}
.requestTabHeader{
    border: none;
    width: 25%;
    border-radius: 20px;
}

.requestTabHeaderSelected{
    border: none;
    background-color: #fa0249;
    width: 25%;
    border-radius: 20px;
}

.pendingRequestCardsWrapper, .acceptedRequestCardsWrapper, .declinedRequestCardsWrapper, .allRequestCardsWrapper {
    padding: 40px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 40px;
}
.hidePendingrequestCardsWrapper, .hideAcceptedrequestCardsWrapper, .hideDeclinedrequestCardsWrapper, .hideAllrequestCardsWrapper{
    display: none;
}
