.home-container {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #ffffff;
    color: #333;
    padding: 20px;
    padding-top: 80px;
    background: url("https://media.istockphoto.com/id/1467502904/photo/gold-marble-texture-background-used-in-design-for-skin-tile-wa.jpg?b=1&s=612x612&w=0&k=20&c=v_3sXDo-PRSxLmuTe89pJ-i2cipmjwOhJmluQjWPqmE=");
    opacity: 0.9;
}

.banner {
    width: 97%;
    margin: auto;
    margin-top: 20px;
    padding: 20px;
}

.banner>div button {
    width: 50px;
    height: 50px;
    color: black;
    background-color: black;
}

.carouselCard >img{
    width: 100%;
}

.carouselCard>img {
    height: 60vh;
}
.slider{
    width: 90%;
    margin: auto;
    height: 70vh;
    padding: 10px;
    margin-bottom: 60px;
}
.slider>h2{
    text-align: left;
    font-size: 30px;
}
.slider>div{
    height: 85%;
    padding-top: 10px;
    border-radius: 15px;
    background: url("https://www.shutterstock.com/image-photo/white-beige-paper-background-texture-600nw-2473726727.jpg");
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
.authorslider{
    width: 90%;
    margin: auto;
    padding: 10px;
    margin-bottom: 60px;
}
.authorslider>h2{
    text-align: left;
    font-size: 30px;
}
.authorslider>div{
    height: 85%;
    padding-top: 10px;
    border-radius: 35px 0px 35px 0px;
    background: url("https://www.shutterstock.com/image-photo/white-beige-paper-background-texture-600nw-2473726727.jpg");
}
.bookCardHomeWrapper {
    height: 90%;
    width: 75%;
    padding: 20px;
    text-align: center;
    margin: auto;
    font-size: 17px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.bookCardHomeWrapper>div:nth-child(1)>img{
    height: 270px;
    width: 250px;
}
.authorCardHomeWrapper {
    padding: 20px;
    text-align: center;
    margin: auto;
    font-size: 17px;
    background: transparent;
}

.authorCardHomeWrapper>div:nth-child(1)>img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
}
.main-content {
    margin: 0px
}

.features {
    margin: 0px;
}

.feature-boxes {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.feature {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    width: 30%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.feature h2 {
    margin: 5px;
}

.feature h3 {
    color: #5a3e29;
}

.call-to-action {
    margin: 0px 0;
}

.join-button {
    background-color: #6F4E37;
    color: white;
    border: none;
    padding: 15px 30px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2em;
}

.join-button:hover {
    background-color: #44392b;
}

.footer {
    margin-top: 10px;
    font-size: 0.9em;
    color: #363636;
}

@media (max-width: 768px) {
    .banner h1 {
        font-size: 40px;
    }

    .banner p {
        font-size: 1.5em;
    }

    .feature {
        width: 80%;
        margin: 10px auto;
    }

    .join-button {
        padding: 10px 20px;
        font-size: 1em;
    }
}

@media (max-width: 480px) {
    .banner h1 {
        font-size: 30px;
    }

    .banner p {
        font-size: 1.2em;
    }
}