.noResultsWrapperFull{
    width: 80vw;
    height: 60vh;
    margin: auto;
    text-align: center;
    place-content: center;
}
.noResultsWrapperFull>img{
    width: 45%;
    margin: auto;
    margin-top: 10px;
}