.headerWrapper{
    width: 100%;
    margin: auto;
    position: fixed;
    z-index: 1;
    background-color: black;
}
.headerContainer{
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.headerContainer>h2>a{
    color: #fff;
    font-size: 34px;
    text-decoration: none;
}
.headerContainer>div{
    color: #fff;
}
.headerContainer>div:nth-child(2){
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.headerContainer>div:nth-child(2)>a{
    font-size: 22px;
    color: #fff;
    text-decoration: none;
}
.headerContainer>div:nth-child(2)>button{
    padding: 10px 20px;
    border: none;
    color: #fff;
    background-color: #fa0249;
    border-radius: 15px;
    font-size: 22px;
}

.headerContainer>div:nth-child(2)>button:hover{
    background-color: #af0032;
    cursor: pointer;
}
.headerContainer>div:nth-child(2)>button>a{
    text-decoration: none;
    color: #fff;
    font-size: 22px;
}